In [1]:
import pandas as pd 
import numpy as np
df = pd.read_csv(r"D:\simple-Linear-Regression-master\Salary_Data.csv")
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [2]:
df.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000

In [5]:
#Building regression equation
import statsmodels.formula.api as smf 
model = smf.ols("Salary~YearsExperience ", data=df).fit()
model

In [8]:
#model.summary()
model.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                     Results: Ordinary least squares
=========================================================================
Model:                OLS                Adj. R-squared:       0.955
Dependent Variable:   Salary             AIC:                  606.8823
Date:                 2020-09-10 15:01   BIC:                  609.6847
No. Observations:     30                 Log-Likelihood:       -301.44
Df Model:             1                  F-statistic:          622.5
Df Residuals:         28                 Prob (F-statistic):   1.14e-20
R-squared:            0.957              Scale:                3.3505e+07
-------------------------------------------------------------------------
                  Coef.     Std.Err.    t    P>|t|    [0.025     0.975]
-------------------------------------------------------------------------
Intercept       25792.2002 2273.0534 11.3469 0.0000 21136.0613 30448.3391
YearsExperience  9449.9623  378.7546 24.9501 0.0000  8674.1187 10225.8059
-------------------------------------------------------------------------
Omnibus:                  2.140          Durbin-Watson:             1.648
Prob(Omnibus):            0.343          Jarque-Bera (JB):          1.569
Skew:                     0.363          Prob(JB):                  0.456
Kurtosis:                 2.147          Condition No.:             13
=========================================================================

"""

In [10]:
# Calculating RMSE (root mean square error) same as r**2 squared
pred = model.predict(df.YearsExperience)
from ml_metrics import rmse 
rmse(pred, df.Salary)

5592.043608760662

In [20]:
#Predicting for new data 
#making new dataframe to predict values
# years of experies as sserires 
s1 = pd.Series([0,10,5,3,1,6,15]) 
d1 = pd.DataFrame(s1, columns=["YearsExperience"])
d1
#d1.sort_values(by = "YearsExperience", ascending= False)

   YearsExperience
0                0
1               10
2                5
3                3
4                1
5                6
6               15

In [21]:
model.predict(d1)

0     25792.200199
1    120291.823413
2     73042.011806
3     54142.087163
4     35242.162520
5     82491.974127
6    167541.635020
dtype: float64